<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Inquiry | NareshIT</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet">

    <style>
        .auth-card {
            border-radius: 10px;
            overflow: hidden;
        }
    </style>
</head>

<body class="bg-light">

<div class="d-flex justify-content-center align-items-center vh-100">
    <div class="auth-card d-flex shadow" style="width:900px">

        <div class="p-5 bg-white w-50">
            <h3>NareshIT</h3>
            <p>Add Student Enquiry</p>

            <form th:action="@{/addinquiry}" th:method="post" th:object="${inquiry}">

                <input type="text" th:field="*{studentName}" class="form-control mb-3" placeholder="Student Name" required>

                <input type="text" th:field="*{studentPhoneNumber}" class="form-control mb-3" placeholder="Contact Number" required>

                <label class="form-label">Class Mode</label>
                <select th:field="*{classMode}" class="form-select mb-3" required>
                    <option value="">-Select-</option>
                    <option th:value="online">Online</option>
                    <option th:value="offline">Offline</option>
                </select>

                <label class="form-label">Course</label>
                <select th:field="*{courseName}" class="form-select mb-3" required>
                    <option value="">-- Select Course --</option>
                    <option th:each="s : ${courses}"
                            th:value="${s.coursesName}"
                            th:text="${s.coursesName}">
                    </option>
                </select>

                <label class="form-label">Enquiry Status</label>
                <select th:field="*{inquiryStatus}" class="form-select mb-3" required>
                    <option value="">-- Select Status --</option>
                    <option th:each="s : ${statuses}"
                            th:value="${s.statusName}"
                            th:text="${s.statusName}">
                    </option>
                </select>

                <button class="btn btn-danger w-100">Add Inquiry</button>
            </form>

            <p class="text-center mt-3">
                <a href="/" class="btn btn-outline-secondary btn-sm">Back to Home</a>
            </p>
        </div>

        <div class="text-white d-flex align-items-center justify-content-center w-50"
             style="background: linear-gradient(135deg,#ff6a00,#ee0979)">
            <div class="text-center p-4">
                <h4>Manage Student Enquiries</h4>
                <p>Track, update and manage all student inquiries efficiently.</p>
            </div>
        </div>

    </div>
</div>

</body>
</html>