<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forgot Password | NareshIT</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet">
</head>

<body class="bg-light">

<div class="d-flex justify-content-center align-items-center vh-100">
    <div class="d-flex shadow" style="width:900px">

        <div class="p-5 bg-white w-50">
            <h3>NareshIT</h3>
            <p>Recover your password</p>
            <p th:if="${error!=null}" th:text="${error}" class="text-danger"></p>
            <p th:if="${success!=null}" th:text="${success}" class="text-success"></p>

            <form th:action="@{/forgotpass}" th:method="post">
                <input type="email" name="email" class="form-control mb-3" placeholder="Email">
                <button th:type="submit" class="btn btn-danger w-100">SUBMIT</button>
            </form>

            <p class="text-center mt-3">
                Don't have account?
                <a href="/signup" class="btn btn-outline-danger btn-sm">Create New</a>
            </p>
        </div>

        <div class="text-white d-flex align-items-center justify-content-center w-50"
             style="background: linear-gradient(135deg,#ff6a00,#ee0979)">
            <div class="text-center p-4">
                <h4>NareshIT</h4>
                <p>We help you grow with industry-ready skills.</p>
            </div>
        </div>

    </div>
</div>

</body>
</html>